.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.grid-item {
    width: 320px;
    height: 500px;
    background: lightgray;
    margin: 40px 60px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.grid-item:hover {
    background: rgb(240, 240, 240);
    transition: 0.4s;
}

.grid-item > a {
    width: 100%;
    height: 60%;
}

.grid-item-name {
    margin: 20px 20px;
}

.grid-img {
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.grid-btns-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
}

.grid-edit-btn {
    margin-right: 10px;
    height: 50px;
    width: 80px;
    padding: 20px 20px;
    background: #007e33;
    color: white;
    border: none;
    border-radius: 20px;
}

.grid-edit-btn:hover {
    background: #00c851;
    cursor: pointer;
    transition: 0.4s;
}

.grid-delete-btn {
    margin-right: 20px;
    height: 50px;
    width: 80px;
    padding: 20px 20px;
    background: #cc0000;
    color: white;
    border: none;
    border-radius: 20px;
}

.grid-delete-btn:hover {
    background: #ff4444;
    cursor: pointer;
    transition: 0.4s;
}

.grid-price {
    font-size: 24px;
    margin: 0;
}
